.kmeans-toolbar {
    display: flex;
    justify-content: center;
}

.n-clusters {
    width: 100px;
    margin: 8px 35px;
}

.components-control {
    width: 200px;
}

.plot-btn {
    margin: 8px 0 0 35px !important;
    width: 100px !important;
}